<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/typography.css" type="text/css" media="screen, projection">

<title>Aline * Adriano = AaoQuadrado</title>
<style>
body {background-color:#333;}
.main{background-color:#fff;}

#nav {
margin: 0;
padding: 0 0 0 10px;
list-style-type: none;
background-color:#999999;
font-size:1.2em;
font-weight:700;

float: left; 
}
#nav li {
margin: 0;
padding: 0;
float: left;
width: 70px;
}


</style>
</head><body>
<div class="main">

<!--div class="g960" style="background-color: rgb(153, 153, 153);">
<ul id="nav">
<li>Uno</li>
<li>Due</li>
<li>Tre</li>
<li>Quatro</li>
</ul>
 </div-->
<div class="clear">&nbsp;</div>

<div class="g960"><img src="{{MEDIA_URL}}images/logo.png"> </div>
<div class="clear">&nbsp;</div>

<div class="g240"><p>Pellentesque habitant morbi tristique senectus et
netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
placerat eleifend leo.</p></div>

<div class="g240"><p>Vestibulum ante ipsum primis in faucibus orci
luctus et ultrices posuere cubilia Curae; Morbi suscipit neque quis
eros interdum blandit. Duis mauris ligula, adipiscing sit amet,
pellentesque id, pretium et, sem. Nam viverra semper lectus. Maecenas
imperdiet, pede nec gravida vestibulum. </p></div>

<div class="g240"><p>Ut congue lacinia tortor. Curabitur lacinia
sodales enim. Nam tincidunt magna ac sapien. Nunc mattis, leo ut cursus
commodo, dolor sem gravida ante, quis congue purus sem eget urna. Morbi
consequat viverra ante. Aliquam a enim. Pellentesque at felis. Nam vel
neque non elit aliquam fermentum. </p></div>

<div class="g240"><p>Pellentesque habitant morbi tristique senectus et
netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
placerat eleifend leo.</p></div>
<div class="clear">&nbsp;</div>
<div class="g960 tc"><p class="note">The photo is copywrited and taken from <a href="http://www.boston.com/bigpicture/2008/12/2008_the_year_in_photographs_p.html">©  boston big picture</a></p> </div>
<div class="clear">&nbsp;</div>

 </div>
</body></html>
