<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/typography.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/{{ flavor }}/extra.css" type="text/css" media="screen, projection">
<script type="text/javascript" src="/static/nifty.js"></script>

<title>Aline * Adriano</title>
<style>
body {background-color:#efefef;}
.main{background-color:#fff;}
div#menu hr{
    height:1px;
    background-color:#666;
    color:#666;
}
</style>
</head><body>
<div class="main">
    <div class="miniclear"></div>
    <a href="/"><div class="g960"><img src="{{MEDIA_URL}}images/{{ flavor }}/logo.png"></div></a>
<div class="miniclear"></div>
{% block menu %}
<div class="g320" id="menu">
    <a href="/home"><img src="{{MEDIA_URL}}images/{{ flavor }}/home.png"></a><hr>
    <a href="/detalhes"><img src="{{MEDIA_URL}}images/{{ flavor }}/detalhes.png"></a><hr>
    <a href="/rsvp"><img src="{{MEDIA_URL}}images/{{ flavor }}/rsvp.png"></a><hr>
    <a href="/fotos"><img src="{{MEDIA_URL}}images/{{ flavor }}/fotos.png"></a><hr>
    <a href="/faq"><img src="{{MEDIA_URL}}images/{{ flavor }}/faq.png"></a><hr>
    <a href="/como_chegar"><img src="{{MEDIA_URL}}images/{{ flavor }}/como_chegar.png"></a><hr>
    <a href="/musica"><img src="{{MEDIA_URL}}images/{{ flavor }}/musica.png"></a><hr>
    <a href="/onde_ficar"><img src="{{MEDIA_URL}}images/{{ flavor }}/onde_ficar.png"></a>
</div>
{% endblock%}

<div class="g640">
{% block content %}
foobar
{% endblock%}
</div>
<div class="clear">&nbsp;</div>
<div class="g960 tc footer"><p class="note">{{quote.0}}<br>-- {{quote.1}}</p> </div>
<br clear="all"/>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-185499-11");
pageTracker._trackPageview();
} catch(err) {}</script>
</body></html>
