<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/typography.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/{{ flavor }}/extra.css" type="text/css" media="screen, projection">

<title>Aline * Adriano</title>
<style>
body {background-color:#fff;}
.main{background-color:#fff;}
</style>
</head><body>
<div class="main">
    <div class="miniclear"></div>
    <a href="/"><div id="title">Aline e Adriano</div><div class="g960"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_0_0.png"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_0_1.png" ><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_0_2.png" ></div></a>
<div class="miniclear"></div>
{% block menu %}
<div class="g120">
    <a href="/detalhes"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_2_1_mini.png"></a><br>
</div>
<div class="g120">
    <a href="/fotos"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_4_1_mini.png"></a><br>
</div>
<div class="g120">
    <a href="/como_chegar"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_6_1_mini.png"></a><br>
</div>
<div class="g120">
    <a href="/onde_ficar"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_8_1_mini.png"></a><br>
</div>
<div class="g120">
    <a href="/rsvp"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_2_2_mini.png"></a><br>
</div>
<div class="g120">
    <a href="/musica"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_4_2_mini.png"></a><br>
</div>
<div class="g120">
    <a href="/presentes"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_6_2_mini.png"></a><br>
</div>
<div class="g120">
    <a href="/comentarios"><img src="{{MEDIA_URL}}images/{{ flavor }}/slice_8_2_mini.png"></a><br>
</div>
<div class="clear">&nbsp;</div>
{% endblock%}

{% block content %}
foobar
{% endblock%}
<div class="clear">&nbsp;</div>
<div class="g960 tc"><p class="note">hey!</p> </div>
<div class="clear">&nbsp;</div>

 </div>
</body></html>
